src/flows.json
[{"id":"3d678e38.90fd52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf2f996a.ef46a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d35ee22d.45cea","type":"ui_group","name":"Control","tab":"cf2f996a.ef46a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b109ef2.7ad1a1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bc24bb03.277108","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Servo 0","tooltip":"","group":"d35ee22d.45cea","order":2,"width":"0","height":"0","passthru":true,"outs":"all","topic":"0","min":"65","max":"215","step":1,"x":460,"y":120,"wires":[["5bfa97f0.90d1a8"]]},{"id":"8c47be4f.de994","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Servo 1","tooltip":"","group":"d35ee22d.45cea","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"1","min":"65","max":"145","step":1,"x":460,"y":200,"wires":[["5bfa97f0.90d1a8"]]},{"id":"dd3e8db1.37bfe","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Servo 2","tooltip":"","group":"d35ee22d.45cea","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"2","min":"65","max":"215","step":1,"x":460,"y":280,"wires":[["5bfa97f0.90d1a8"]]},{"id":"8489c27e.a8ede","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Servo 3","tooltip":"","group":"d35ee22d.45cea","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"3","min":"65","max":"215","step":1,"x":460,"y":360,"wires":[["5bfa97f0.90d1a8"]]},{"id":"608aa07.0edbd6","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Servo 4","tooltip":"","group":"d35ee22d.45cea","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"4","min":"155","max":"250","step":1,"x":460,"y":440,"wires":[["5bfa97f0.90d1a8"]]},{"id":"5e6f4942.dbc598","type":"ui_slider","z":"3d678e38.90fd52","d":true,"name":"","label":"Servo 6","tooltip":"","group":"d35ee22d.45cea","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"5","min":"155","max":"215","step":1,"x":460,"y":500,"wires":[["5bfa97f0.90d1a8"]]},{"id":"58b26404.8e9ddc","type":"http request","z":"3d678e38.90fd52","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://161.246.6.20:110","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":320,"wires":[[]]},{"id":"5bfa97f0.90d1a8","type":"function","z":"3d678e38.90fd52","name":"","func":"msg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json\";\nmsg.payload = {topic: msg.topic, value: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["58b26404.8e9ddc"]]},{"id":"f0d5998e.7b2608","type":"inject","z":"3d678e38.90fd52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"140","payloadType":"num","x":150,"y":360,"wires":[["dd3e8db1.37bfe","8489c27e.a8ede"]]},{"id":"4660d680.03c408","type":"inject","z":"3d678e38.90fd52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"65","payloadType":"num","x":150,"y":300,"wires":[["bc24bb03.277108","5e6f4942.dbc598"]]},{"id":"538b91ef.76d6e","type":"inject","z":"3d678e38.90fd52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"145","payloadType":"num","x":150,"y":240,"wires":[["8c47be4f.de994"]]},{"id":"ec2ce327.f13c","type":"inject","z":"3d678e38.90fd52","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"155","payloadType":"num","x":150,"y":420,"wires":[["608aa07.0edbd6"]]},{"id":"22917ee3.0718b2","type":"ui_slider","z":"3d678e38.90fd52","name":"","label":"Speed .","tooltip":"","group":"d35ee22d.45cea","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"5","min":"100","max":"0","step":1,"x":460,"y":560,"wires":[["5bfa97f0.90d1a8"]]}]